@using MvcProject.Models;
@model List<FEEDBACK>

<!DOCTYPE html>
<html>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">ÇAĞRI HASTANESİ</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/PatientHome/Index/">Randevu Al</a></li>
                        <li><a href="/PatientHomeContact/Index/">İletişim</a></li>
                        <li><a href="/PatientHomeFeedback/Index/">Geri Bildirim</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <br />
                        @using (Html.BeginForm("Logout", "PatientLogin", FormMethod.Post))
                        {
                            <input type="submit" value="ÇIKIŞ YAP" />
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <br />
    <br />
    <br />

    <title> Çağrı Hastanesi </title>
    <style type="text/css">
        #metin {
            text-align: justify;
            width: 1200px;
            word-wrap: break-word;
            margin: 0px auto;
            background: white;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            padding-right: 15px;
            border-style: solid;
            border-width: 2px;
            border-color: #8fc1da;
            line-height: 200%;
        }
    </style>

    <div id="metin">
        <center>
            <font style="font-family:Trebuchet MS; font-size:48px; color:#e80729;">GERİ BİLDİRİM</font>
        </center>
        <center><img src="~/Images/feedback.jpg"></center>
        <br />
        <br />
        <font style="font-family:Arial; font-size:18px; color:black;">
            Randevunuz hakkında geri bildirim yazabilirsiniz.
        </font>
        <br />
        <br />
        <br />

        <table class="table table-bordered">
            <tr>
                <th>Geri Bildirim ID</th>
                <th>Doktor Adı</th>
                <th>Doktor Soyadı</th>
                <th>Geri Bildirim Tarihi</th>
                <th>Geri Bildirim Saati</th>
            </tr>
            <tbody>
                @foreach (var fd in Model)
                {
                    <tr>
                        <td>@fd.feedbackID</td>
                        <td>@fd.doctorName</td>
                        <td>@fd.doctorSurname</td>
                        <td>@fd.feedbackDate</td>
                        <td>@fd.feedbackHour</td>
                    </tr>

                    <tr>
                        <th>Geri Bildirim İçeriği</th>
                    </tr>
                    <tr>
                        <td>@fd.feedbackContent</td>
                    </tr>
                }
            </tbody>
        </table>
        <center><a href="/PatientHomeFeedback/AddFeedbacks/" class="btn btn-primary">Geri Bildirim Ekle</a></center>
    </div>

</body>
</html>
